.app {
  padding: 30px;
  border-radius: 10px ;
  width: 500px;
  height: 300px;
  box-shadow: 0 5px 20px black;
  text-align: center;
  background-color: papayawhip;
}

input {
  padding: 8px;
  margin-right: 5px;
  box-shadow: 0px  2px 5px black;
}

button {
  padding: 8px;
  cursor: pointer;
  background-color: aquamarine;
  box-shadow: 0px 2px 5px grey;
  }

ul {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}



li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding-right: 10px; /* space from scrollbar */
}

li span {
  flex: 1;
}

